@{
    Layout = "_AlbumLayout";

    ViewData["Title"] = "Home Page";
}
@model ProductListViewModel
<!-- ##### Add Area End ##### -->
<!-- ##### Song Area Start ##### -->
@foreach (var a in Model.Albums)
{

    <!--<div class="one-music-songs-area mb-70">
        <div class="container">
            <div class="row">-->

                <!-- Single Song Area -->
                <!--<div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                            <img src="/img/bg-img/s3.jpg" alt="">
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>@a.Title</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/audio/dummy-audio.mp3">
                            </audio>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->
}
<!-- ##### Album Catagory Area End ##### -->
<!-- ##### Buy Now Area Start ##### -->
<div class="oneMusic-buy-now-area mb-100">
    <div class="container">
        <h2>Albums</h2>
        <div class="row">
            @foreach (var item in Model.Albums)
            {
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area">
                        <div class="album-thumb">
                            <img src="~/img/Music/Classical/@item.UrlImage" alt="">
                        </div>
                        <div class="">
                            <a href="#">
                                <h5>@item.Title</h5>
                            </a>
                            <p>@item.Artists</p>
                        </div>
                    </div>
                </div>
            }




        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center">
                    <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Buy Now Area End ##### -->