@{
    Layout = "_AlbumLayout";

    ViewData["Title"] = "Home Page";
}
@model ProductListViewModel
<!-- ##### Add Area End ##### -->
<!-- ##### Song Area Start ##### -->
@foreach (var a in Model.Albums)
{
    
 <div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="/img/bg-img/s3.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>@a.Title</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="/audio/dummy-audio.mp3">
                        </audio>
                    </div>
                </div>
            </div>

        </div>
    </div>
 </div>
}